@tailwind base;
@tailwind components;
@tailwind utilities;



.text-special-1 {
    font-family: 'Special Elite', cursive !important;
}

.text-special-2 {
    font-family: 'Bungee Shade', cursive !important;
}

.text-special-3 {
    font-family: 'Syne Mono', monospace !important;
}
